[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "vim/.vim/bundle/vim-polyglot"]
	path = vim/.vim/bundle/vim-polyglot
	url = http://github.com/sheerun/vim-polyglot.git
[submodule "vim/.vim/bundle/vim-markdown"]
	path = vim/.vim/bundle/vim-markdown
	url = http://github.com/gabrielelana/vim-markdown.git
[submodule "vim/.vim/bundle/dracula"]
	path = vim/.vim/bundle/dracula
	url = http://github.com/dracula/vim.git
